#Title of the notebook

# Data Science Tools and Ecosystem

#Introduction of the notebook

In this notebook, Data Science Tools & Ecosystem are summarized

#List of Data Science Languages

# List of Data Science languages:

1. Python
2. R
3. SQL
4. Julia
5. Scala
6. Java

#List of Data Science Libraries

# List of Data Science Libraries:
1. Pandas
2. Numpy
3. Caret
4. GGplot
5. Sci-kit learn

#Data Science Tools

|Data Science Tools|
|:----------------:|
|Pandas|
|Knime|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

1. 5*5 = 25
2. 6*6 = 36
3. 7+21 = 28

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
 #This will convert 200 minutes to hours by diving by 60
 200/60

3.3333333333333335

#Types of Machine Learning

**Objectives**
* Supervised Machine Learning
* Unsupervised Machine Learning
* Reinforcement Machine Learning

## Author
Saransh Anand